@font-face {
    font-family: 'NotoSans';
    src: url('../fonts/NotoSans-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'NotoSans';
    src: url('../fonts/NotoSans-SemiBold.ttf');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../fonts/Recoleta-RegularDEMO.otf');
    font-style: normal;
    font-weight: 600;
}